<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1 class="text-center cta-header">
      Become a Shopper for Instacart!
    </h1>

    <p class="cta-text text-center">
      Earn money shopping and delivering groceries,
      giving customers more time to do what they love.
    </p>

    <div class="text-center">
      <%= link_to "Apply Now!", new_applicants_path, class: "btn btn-xl btn-success" %>
    </div>

    <p class="cta-text text-center text-muted">
      Apply in under 5 minutes!
      Attend an in-person session and start work within one week!
    </p>
  </div>
</div>
