<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Instacart", root_path, class: "navbar-brand" %>
    </div>
  </div>
</nav>
